Repository CSC-307-My-Contacts/my-contacts-frontend, pull requests merged in 2020-05, with the labels that each got.

#25 Created the Basic Skeleton of Contact Form
  react-frontend/src/App.js
  react-frontend/src/ContactForm.js
  react-frontend/src/ContactList.js
  react-frontend/src/index.css
Labels: front-end

#27 logout button on dashboard
  react-frontend/src/App.js
  react-frontend/src/ContactForm.js
  react-frontend/src/ContactList.js
  react-frontend/src/index.css
Labels: front-end

#28 Created Basic View Page
  react-frontend/package-lock.json
  react-frontend/package.json
  react-frontend/src/ContactList.js
  react-frontend/src/index.js
Labels: front-end

#40 Define API Specs
  docs/API-Specs.md
Labels: documentation

#41 Front-End Support for Delete
  react-frontend/src/App.js
  react-frontend/src/ContactForm.js
  react-frontend/src/ContactList.js
  react-frontend/src/Login.js
Labels: front-end

#43 User Authentication with Tokens on Front-End
  react-frontend/src/App.js
  react-frontend/src/ContactForm.js
  react-frontend/src/ContactList.js
  react-frontend/src/Login.js
  react-frontend/src/Register.js
  react-frontend/src/index.css
Labels: front-end

#45 Setup Travis CI on Front-End
  .gitignore
  .travis.yml
  backend/requirements.txt
Labels: front-end

#52 51 Changed ID field name
  react-frontend/src/App.js
  react-frontend/src/ContactForm.js
  react-frontend/src/ContactList.js
Labels: front-end

#60 55 Import CSV front-end support
  react-frontend/src/App.js
  react-frontend/src/ContactList.js
  react-frontend/src/index.css
Labels: front-end

#62 Updated API Specs
  docs/API-Specs.md
Labels: front-end

#63 Added support for additional fields to the contact from
  react-frontend/src/ContactForm.js
  react-frontend/src/Login.js
  react-frontend/src/Register.js
  react-frontend/src/index.css
Labels: front-end

#64 Partially updated specs to reflect planned changes
  docs/API-Specs.md
Labels: documentation, front-end

#65 Updated display for labels and additional emails
  react-frontend/src/ContactList.js
Labels: front-end

#68 Improved sidebar with label filter
  react-frontend/src/ContactList.js
  react-frontend/src/index.css
Labels: front-end

#67 30 import csv
  react-frontend/src/App.js
Labels: front-end
