Repository CSC-307-My-Contacts/my-contacts-frontend, pull requests merged in 2020-06, with the labels that each got.

#69 Added support for contact images
  docs/API-Specs.md
  react-frontend/public/contact-no-image.png
  react-frontend/src/App.js
  react-frontend/src/ContactForm.js
  react-frontend/src/ContactImage.js
  react-frontend/src/ContactList.js
  react-frontend/src/index.css
Labels: front-end

#75 74 docs
  README.md
  docs/ClassDiagram.drawio
  docs/ClassDiagram.svg
  docs/UseCaseDiagram.drawio
  docs/UseCaseDiagram.svg
Labels: documentation

#79 36 mission text
  react-frontend/src/Mission.js
Labels: front-end

#81 Handle CSV callback in front-end
  react-frontend/src/App.js
  react-frontend/src/ContactList.js
  react-frontend/src/DetailedContactModal.js
  react-frontend/src/ImportModal.js
  react-frontend/src/LabelList.js
Labels: front-end

#82 Fixed issue with imported contacts type in edit form
  react-frontend/src/ContactForm.js
Labels: bug, front-end

#83 Moved Logout Button
  react-frontend/src/ContactList.js
Labels: bug, front-end
